:root {
    --bgColor:#242525;
    --appMainbgColor:#2a2c2c;
    --fontColor:rgba(229, 224, 216, 0.85);
    --table_bgColor: #242525;
    --table_fontColor: rgba(229, 224, 216, 0.85);
    --table_HoverbgColor: #171F34;
    --menuHoverbgColor : #a9a9a9;
    --loadingbgColor: rgba(0, 0, 0, 0.8);
}