@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  color: var(--fontColor);
  background-color: var(--bgColor);
  flex: 1;
  padding: 0 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0px 3px 8px rgba(62, 100, 146, 0.1);
}

.header-contain{
  display: flex;
  margin-top: 10px;
}

.pagination {
  height: 50px;
  display: flex;
  align-items: center;
}

.edit-contain {
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .el-col-sm-4-8 {
    width: 20%;
  }

  .el-col-sm-offset-3-4 {
    margin-left: 20%;
  }

  .el-col-sm-pull-3-4 {
    position: relative;
    right: 20%;
  }

  .el-col-sm-push-3-4 {
    position: relative;
    left: 20%;
  }
}

@media only screen and (min-width: 992px) {
  .el-col-md-4-8 {
    width: 20%;
  }

  .el-col-md-offset-3-4 {
    margin-left: 20%;
  }

  .el-col-md-pull-3-4 {
    position: relative;
    right: 20%;
  }

  .el-col-md-push-3-4 {
    position: relative;
    left: 20%;
  }
}

@media only screen and (min-width: 1200px) {
  .el-col-lg-4-8 {
    width: 20%;
  }

  .el-col-lg-offset-4-8 {
    margin-left: 20%;
  }

  .el-col-lg-pull-4-8 {
    position: relative;
    right: 20%;
  }

  .el-col-lg-push-4-8 {
    position: relative;
    left: 20%;
  }
}

@media only screen and (min-width: 1920px) {
  .el-col-xl-4-8 {
    width: 20%;
  }

  .el-col-xl-offset-4-8 {
    margin-left: 20%;
  }

  .el-col-xl-pull-4-8 {
    position: relative;
    right: 20%;
  }

  .el-col-xl-push-4-8 {
    position: relative;
    left: 20%;
  }
}
